@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url(../webfonts/Roboto-Light-subset.woff2) format('woff2');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(../webfonts/Roboto-Regular-subset.woff2) format('woff2');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url(../webfonts/Roboto-Bold-subset.woff2) format('woff2');
}
